<!DOCTYPE html>
<html ng-app="cowsayApp">
  <head>
    <title> Cowsay Client </title>
  </head>
  <body>
    <section ng-controller="CowsayController">
      <h1> {{cowsayCtrl.title}} </h1>

      <input type="text" ng-model="cowsayCtrl.text">

      <button ng-click="cowsayCtrl.helloClick(cowsayCtrl.text)"> Click to save below.</button>

      <pre>
        {{cowsayCtrl.updateCow(cowsayCtrl.text)}}
      </pre>

      <h1>{{cowsayCtrl.savedTitle}}</h1>

      <pre>
        {{cowsayCtrl.speak}}
      </pre>

      <button ng-click="cowsayCtrl.backClick()"> Click to revert to last.</button>

    </section>
  </body>
</html>
